.sub_menu_wrap {
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: center;
    margin-bottom: auto;
}

#sub_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

#sub_menu a:hover {
    color:#342DBD;
}

#sub_menu div {
    padding: 10px;
    margin: 3px;
}

#sub_menu div a {
    font-size: 1.2rem; 
    font-weight: bold;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

@media (max-width: 768px) {
    .sub_menu_wrap {
        max-width: 100%;
    }

    #sub_menu {
        flex-direction: row; 
        justify-content: center;
        align-items: center;
    }

    #sub_menu div {
        padding: 5px; 

	}
	
	#sub_menu div a {
        font-size: 0.8rem;
    }
}